html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-width: 0;
}

body {
    background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1rem;
}

main {
    background: rgb(23, 23, 23);
    border-radius: 12px;
    padding-inline-start: calc(1rem * 0.75);
    padding-inline-end: calc(1rem * 0.75);
    padding-top: calc(1rem * 1.5);
    padding-bottom: calc(1rem * 1.5);
}

form {
    margin-top: 0em;
}

.div-img {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 371px;
}

.logo {
    width: calc(1rem * 6);
}

img {
    border-style: none;
}

.div-p {
    display: flex;
    width: 100%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: calc(1rem * 0.75);
}


p {
    font-size: calc(1rem * 0.9375);
    font-weight: 400;
    line-height: 1;
    color: white;
    margin-top: 5px;
    margin-bottom: 25px;
}

label {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: calc(1rem * 0.9375);
}

input[type="text"], input[type="password"], input[type="email"] {
    font-size: calc(1rem * 0.9375);
    width: 100%;
    height: calc(2.5rem);
    border-radius: calc(0.5rem);
    appearance: none;
    color: rgb(189, 189, 189);
    background: rgb(17, 17, 17);
    box-shadow: rgba(0, 0, 0, 0.12) 0px calc(0.09375rem) calc(0.25rem) calc(-0.0625rem);
    border: 2px #ccc;
    padding-top: calc(0.375rem);
    padding-bottom: calc(0.375rem);
    padding-inline: calc(0.75rem);
    font-weight: 300;
}

input:hover {
    border-color: rgba(255, 255, 255, 0.24);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: calc(1rem * 0.75);
    padding-bottom: calc(1rem * 0.375);
}

.botão {
    font-size: calc(0.875rem);
    height: calc(2.5rem);
    border-radius: calc(1rem * 0.5);
    background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%);
    padding-top: calc(1rem * 1.5);
    padding-bottom: calc(1rem * 1.5);
    margin-top: calc(1rem * 0.5);
    padding-inline-start: calc(1rem * 3);
    padding-inline-end: calc(1rem * 3);

    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    line-height: calc(1.5rem);
    border-radius: (1rem * 0.5);
    font-weight: 500;
    min-width: calc(1rem * 2.5);
    width: 95%;
    
}

.botão:hover {
    box-shadow: rgba(161, 128, 255, 0.6) 0px 0px calc(1rem) 0px;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
}